
.root {
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-font-size: 14px;
}

.sidebar-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #ecf0f1;
    -fx-alignment: BASELINE_LEFT;
    -fx-font-size: 14px;
    -fx-padding: 15 20 15 20;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 4;
    -fx-transition: all 0.2s;
}

.sidebar-btn:hover {
    -fx-background-color: #34495e;
    -fx-padding: 15 15 15 25;
}

.sidebar-btn-active {
    -fx-background-color: #253342;
    -fx-text-fill: #2ecc71;
    -fx-font-weight: bold;

    -fx-effect: inner-shadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 2);

    -fx-border-color: transparent transparent transparent #2ecc71;
    -fx-border-width: 0 0 0 4;

    /* Giữ nguyên vị trí chữ đã đẩy sang phải */
    -fx-padding: 15 15 15 25;
}

.title-label { -fx-font-size: 24px; -fx-font-weight: bold; -fx-text-fill: #2c3e50; }
.card { -fx-background-color: white; -fx-background-radius: 10; -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0); -fx-padding: 20 20 20 20; }
.button-primary { -fx-background-color: #27ae60; -fx-text-fill: white; -fx-font-weight: bold; -fx-padding: 8 15 8 15; -fx-cursor: hand; }
.button-danger { -fx-background-color: #e74c3c; -fx-text-fill: white; -fx-font-weight: bold; -fx-padding: 8 15 8 15; -fx-cursor: hand; }